html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #141414 !important;
  color: #f8f9fa !important;
  min-height: 100vh;

  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .slick-list {
    height: 300px !important;
    transition: 1s;

    .slick-slide {
      height: 200px !important;
    }

    .caroussel-item {
      display: flex !important;
      justify-content: center;
      // align-items: center;
      // height: 400px;
      -webkit-transition: all 0.6s ease 0.1s;
      -moz-transition: all 0.6s ease 0.1s;
      -o-transition: all 0.6s ease 0.1s;
      transition: all 0.6s ease 0.1s;
    }

    .selected {
      -webkit-transition: all 0.6s ease 0.1s;
      -moz-transition: all 0.6s ease 0.1s;
      -o-transition: all 0.6s ease 0.1s;
      transition: all 0.6s ease 0.1s;
      transform: translate(0px, 50px);

      img {
        -webkit-transition: all 0.6s ease 0.1s;
        -moz-transition: all 0.6s ease 0.1s;
        -o-transition: all 0.6s ease 0.1s;
        transition: all 0.6s ease 0.1s;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        width: auto;
      }
    }
  }

  .hide {
    overflow: hidden;
    transition: transform 0.2s ease-out;
    height: auto;
    transform-origin: bottom;
    transform: scaleY(0);
  }

  .popover {
    position: sticky;
    min-width: 100%;
    bottom: 0;
    top: auto;
  }
}
